---
layout: default
title: About
---

<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    <hr>

    {{ post.excerpt }}
    <a href="{{ post.url }}" class="read-more-btn"> <b>Read more &#187;</b> </a>
  </div>
  {% endfor %}
</div> -->

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Previous</a>
  {% else %}
    <span class="pagination-item older">Previous</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Next</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Next</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Next</span>
  {% endif %}
</div> -->

<img src="road.jpg"> 


<h2> Hi! I'm Thomas, </h2>
<p>
    PhD student in mathematical statistics at the 
    <a href = "https://www.statistics.ma.tum.de/en/home/">Technical University of 
    Munich</a>. 
</p>

My research interests are 
<p>
    <ul>
      <li> Dependence modeling with copulas </li>
      <li> Nonparamteric estimation </li>
      <li> Asymptotic statistics </li>
      <li> Statistical computing and software </li>
     </ul>
</p>
I develop and maintain several R packages and a C++ library, see <a href="software">
Software<a>.

<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>


<!--<ul class="toc">
  {% include package-nav.html %}
</ul>-->
